body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.navbar-container {
    background-color: #ffffff;
    width: 100%;
    height: 10vh;
    display: flex;
}

.logo-container {
    width: 10%;
    height: 100px;
    background-color: #ffffff;
    padding: 10px 20px 20px 20px;

}

.logo-container img {
    width: 100%;

}

.search-date-container {
    width: 60%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    color: black;
}

.search-date-container p {
    margin-top: 33px;
    margin-left: 50px;
    font-size: 14px;

}

.search-box {

    width: 250px;
    height: 36px;
    border-radius: 20px;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    margin: 0;
    margin-left: 50px;
    margin-top: 27px;
    width: 250px !important;
    transition: all 1s;
    text-align: center;
}

.search-box:focus {
    width: 400px !important;
}

.search-btn {
    width: 70px;
    height: 29px;
    margin-left: -73px;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    margin-top: 31px;
}

.date-color {
    color: #a9a9a9;
    margin-right: 5px;
}

.profile-container {
    width: 30%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
}

.photo-container {
    margin-right: 20px;
}

.photo-container img {
    width: 100%;
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 50px;
    border: 1px solid #eee;
}

.user-name-container h6 {
    margin-top: 25px;
    padding: 10px;
}

.profile-button-container {
    margin-left: 40px;
    padding: 15px;

}

.main-container {
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: #b1b6c0;
}

.sidebar-container {
    width: 10%;
    background-color: #d3d3d5;
    display: flex;
    flex-flow: column;
    z-index: 7;
}

.dashboard-container {
    width: 90%;
    background-color: #b1b6c0;
    display: flex;
    flex-flow: column;

}


.all-btn {
    width: 110px;
    height: 30px;
    border-radius: 30px;
    margin-top: 15px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px;
    font-size: 12px;
    font-weight: 700;
}


.edit-profile-btn {
    margin-right: 10px;
}

.device-container {
    padding: 10px;
    margin: 10px 0px 0px 20px;
    font-weight: 700;
}

.device-container:hover {
    cursor: pointer;
    color: dodgerblue;
}

.device-container i {
    margin-right: 15px;
}

.sidebar-sensor-container {

    width: 200px;
    position: absolute;
    left: 10%;
    margin-top: 20px;
    display: none;

}

.sensor-box {
    height: 30px;
    width: 100%;
    background-color: #c4e5f0;

}

.sensor-box p {
    padding-left: 5px;
    margin: 0px 5px 5px 5px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;


}


.sensor-box:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}






.footer {
    background-color: #b1b6c0;
    width: 90%;
    margin: auto;
    height: 10%;
    margin-bottom: 2%;
    display: flex;
}



.footer-logo-container {
    width: 10%;

    height: 100%;


}

.footer-logo-container h1 {
    margin-left: 80px;
    color: #004e73;
}

.footer-explain-container p {
    margin: 0;
    font-size: 14px;
    width: 90%;
}

.footer-explain-container {
    width: 90%;
    color: #262626;
}


.graph-main-container {
    width: 90%;
    background-color: #b1b6c0;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    
}



.sensortab-container {
    width: 45%;
    height: 100%;
    background-color: #b1b6c0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.graph-container {   
    width: 100%;
    height: 100%;
     background-color: #ffffff;   
    display: flex;
    flex-flow: column;
    position: absolute;
    
    
   
}

.sensortab-box {
    width: 100%;
    height: 23%;
    background-color: #b1b6c0;
    display: flex;
    justify-content: space-between;
}

.sensor-name-box {
    width: 31%;
    height: 100%;
    border-radius: 10px;
    background-color: beige;
    text-align: center;
     
   
    
}

.sensor-name-box h3{
    margin-top: 35px;
     font-size: 60px;
}

.graph-box_1 {
    width: 500px;
    height: 500px;
    margin: auto;
}

.graph-box_2 {
    width: 300px;
    height: 300px;
    margin: auto;
    
}

.graph-box-container {
    display: flex;
    width: 100%;
    height: 90%;    
    
    
    
    
}

.btn-container {
    width: 100%;
    height: 10%;background-color:#b1b6c0;
    display: flex;justify-content: space-between;
}

.all-btns {
    margin: auto;
    margin: 10px;    
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background-color:royalblue;
    color: white;
    border: 1px solid black;
}

.graph-box-container-2 {
     display: none;
    width: 100%;
    height: 90%;
    position: relative;
    
    
}

.graph-box-container-3 {
     display: none;
    width: 100%;
    height: 90%;
    position: relative;
}



.graph-container_2 {
    width: 100%;
    height: 100%;
     background-color: #ffffff;   
    display: flex;
    flex-flow: column;
    position: absolute;
}

.graph-box-container_2_1 {
    display: flex;
    width: 100%;
    height: 90%;  
    position: absolute;
}

.btn_1 {
    width: 130px;
}

.btn_2 {
    width: 130px;
}

.btn_3 {
    width: 130px;
}

.btn_4 {
    width: 130px;
}

.btn_5 {
    width: 130px;
}

.graph-box-container_2_2 {
    display: none;
    width: 100%;
    height: 90%;  
    position: absolute;
}

.graph-box-container_2_3 {
      display: none;
    width: 100%;
    height: 90%;  
    position: absolute;
}

.graph-box-container_2_4 {
      display: none;
    width: 100%;
    height: 90%;  
    position: absolute;
}

.graph-box-container_2_5 {
      display: none;
    width: 100%;
    height: 90%;  
    position: absolute;
}

/*ring*/

#tutorial {
    transform: rotate(-135deg);
    width: 120px;
    height: 120px;
    margin-left: 5px;
    margin-top: 20px;
}
#tutorial_2 {
    transform: rotate(-135deg);
    width: 120px;
    height: 120px;
    margin-left: 5px;
    margin-top: 20px;
}
#tutorial_3 {
    transform: rotate(-135deg);
    width: 120px;
    height: 120px;
    margin-left: 5px;
    margin-top: 20px;
}
#tutorial_4 {
    transform: rotate(-135deg);
    width: 120px;
    height: 120px;
    margin-left: 5px;
    margin-top: 20px;
}
.fraction {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    color: black;;
    margin-left: -90px;
    margin-top: 60px;
}

.small {
    font-size: 12px;
    font-weight: lighter;
}

.title {
    color: red;
    bottom: 0;
    position: absolute;
    top: 50%;
}
.graph-container_3 {
  width: 100%;
    height: 100%;
     background-color: #ffffff;   
    display: none;
    flex-flow: column;
    position: absolute;
}
